body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

button{
    color: white;
    background-color: midnightblue;
}

.container{
    width: 80%;
    margin-left: 10%;
}